.perks {

  &-bg {
    background-color: $light-blue-400;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    padding: 99px 0 86px;
    margin: 0 auto;
    max-width: 1298px;
  }

  &-img-holder {
    flex: 0 0 52%;
    padding-top: 9px;
  }

  &-img-invert {
    order: 1;
  }

  &-img {
    width: 100%;
    max-width: 100%;
  }

  &-list {
    flex: 0 0 44%;
  }

  &-item {
    position: relative;

    padding-left: 83px;
    margin-bottom: 33px;
  }

  &-item-img-holder {
    position: absolute;
    top: 5px;
    left: -6px;

    width: 78px;

    text-align: center;
  }

  &-title {
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 1px;
  }

  &-text {
    margin-top: 2px;
    width: 330px;
    max-width: 100%;
    
    font-size: 14px;
    line-height: 1.3;
    color: $grey-200;
  }
}

@include respond-to(md) {

  .perks {

    &-content {
      padding: 60px 0 45px;
      width: 500px;
    }

    &-list {
      padding-top: 40px;
    }
  }
}

@include respond-to(md-down) {

  .perks {

    &-content {
      flex-direction: column;
    }

    &-text {
      width: 100%;
    }
  }
}

@include respond-to(sm-down) {

  .perks {

    &-content {
      padding: 40px 0 55px;
    }

    &-img-holder {
      flex: 0 0 100%;
      padding-top: 12px;

      text-align: center;
    }

    &-img {
      width: 92%;
    }

    &-list {
      // padding-top: 57px;
      padding: 57px 15px 0;
    }

    &-item {
      padding-left: 65px;
      margin-bottom: 26px;
    }

    &-item-img-holder {
      top: 0px;
      left: -13px;
    }

    &-item-img {
      // width: 62%;
      width: 55px;
      height: 55px;
      object-fit: contain;
    }

    &-title {
      font-size: 19px;
    }

    &-text {
      margin-top: 3px;

      line-height: 1.4;
    }
  }
}